<div class="container mt-4">
  <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="p-fluid">
    <div class="field">
      <label for="nombre">Nombre</label>
      <input id="nombre" type="text" pInputText required [(ngModel)]="user.nombre" name="nombre" />
    </div>
    <div class="field">
      <label for="paterno">Paterno</label>
      <input id="paterno" type="text" pInputText required [(ngModel)]="user.paterno" name="paterno" />
    </div>
    <div class="field">
      <label for="materno">Materno</label>
      <input id="materno" type="text" pInputText required [(ngModel)]="user.materno" name="materno" />
    </div>
    <div class="field">
      <label for="email">Email</label>
      <input id="email" type="email" pInputText required [(ngModel)]="user.email" name="email" />
    </div>
    <div class="field d-flex justify-content-center">
      <button pButton type="submit" label="Editar" icon="pi pi-check"></button>
    </div>
  </form>
</div>
