<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Usuarios</h5>
      <div class="form-group">
        <input type="text" pInputText placeholder="Buscar Usuarios" (input)="applyFilterGlobal($event, 'contains')">
      </div>
    </div>
    <div class="card-body">
      <p-table #dt [value]="users" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 25, 100]">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of cols" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td *ngFor="let col of cols">
              <ng-container [ngSwitch]="col.field">
                <span *ngSwitchCase="'actions'">
                  <button pButton type="button" icon="pi pi-pencil" (click)="editUser(user.id)"></button>
                  <button pButton type="button" icon="pi pi-trash" (click)="deleteUser(user.id)"></button>
                </span>
                <span *ngSwitchDefault>{{user[col.field]}}</span>
              </ng-container>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
